.filters
{
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}


.filters button
{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.filters button:hover
{
	opacity: 0.9;
}

.filters .locations
{
	text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    margin-left: 30px;
    float: left;
}

.filters .amenities{
    text-align: left;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    float: left;
}

.amenities h3, .locations h3{
    font-weight: 600;
    margin: 0px;
    margin-top: 17px;
    padding: 0px;
}
.amenities h4, .locations h4{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
}

.popover{
    visibility: hidden;
    position: relative;
    background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    margin-top: 7%;
    padding-bottom: 10%;
    z-index: 1;
}
.popover li h2{
    padding: 0;
    margin: 0;
}
.popover_list{
    padding:0px;
    margin:0px;
    padding-left: 10%;
}
li{
    list-style-type: none;
    padding-bottom: 5%;
}
ul{
    padding-top: 30px;
}
.locations:hover >.popover{
    visibility: visible;
    margin-bottom: 50px;
}

.amenities:hover > .popover{
    visibility: visible;
}


ul {
  list-style: none;
}